body {
  margin: 0;
  background: #001b2e;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  position: relative;

  width: 500px;
  height: 700px;
}

/* ALL IMAGES */
.container img {
  position: absolute;
  width: 100%;
}

/* BASE BODY — STAYS STILL */
.axolotl {
  z-index: 1;
}

/* HAND 1 */
.handAstr {
  z-index: 3;

  transform-origin: bottom center;

  animation: handShake 1s ease-in-out infinite;
}

/* HAND 2 */
.handAxlright {
  z-index: 2;

  animation: tinyWaveR 1.5s ease-in-out infinite;

  transform-origin: center;
}
/* HAND 3 */
.handAxlleft {
  z-index: 2;

  animation: tinyWaveL 1.5s ease-in-out infinite;

  transform-origin: center;
}

/* body and tail */
.AxalontHT {
  z-index: 2;

  left: 0;
  top: 0;

  animation: BodyMove 2.5s ease-in-out infinite;

  transform-origin: right center;
}

@keyframes tailMove {
  0% {
    transform: scaleX(-0) rotate(-0.5deg);
  }

  50% {
    transform: scaleX(-0) rotate(0.5deg);
  }

  100% {
    transform: scaleX(-0) rotate(-0.5deg);
  }
}

/* BUBBLE */
.bubble {
  z-index: 5;

  animation: bubbleFloat 4s linear infinite;
}

/* HELLO GIF */
.hello {
  z-index: 100;

  width: 180px !important;

  top: 150px;
  left: 50px;

  transform: rotate(-40deg);
}

.hello1 {
  z-index: 50;

  width: 500px !important;
  height: 795px !important;

  top: 0px;
  left: 0px;

}

/* HAND SHAKE */
@keyframes handShake {
  0% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-1deg);
  }
}


/* axlon HAND */
@keyframes tinyWaveL {
  0% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}

@keyframes tinyWaveR {
  0% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}

/* Body MOVE */
@keyframes BodyMove {
  0% {
    transform: rotate(-2deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}

/* BUBBLE FLOAT */
@keyframes bubbleFloat {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.watermark {
  position: absolute;

  bottom: 1px;
  right: 20px;

  z-index: 900;

  color: black;

  font-size: 18px;
  font-family: cursive;
  font-weight: bold;

  opacity: 0.3;

  transform: rotate(-8deg);

  text-shadow: 0 0 10px white;

  animation: glow 10s ease-in-out infinite;
}
